<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/bootstrap.min.css' />
    <link rel='stylesheet' href='/css/select2.min.css' />
    <link rel='stylesheet' href='/css/fontiran.css' />
    <link rel='stylesheet' href='/css/style.css' />
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">فروشگاه</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/admin/products">محصولات</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/users">کاربران</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/categories">دسته بندی ها</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/tags">تگ ها</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/media">مدیا</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
