
<footer>
    <div class="footer">
        <div class="container">
            <div class="links-sections">
                <div class="links-section">
                    <h4>Contact us</h4>
                    <ul class="links">
                        <li>
                            <a href="">
                                <i class="fas fa-phone-volume"></i>
                                (+800) 123 456 7890
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fas fa-envelope"></i>
                                example@example.com
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <i class="fas fa-map-marker-alt"></i>
                                Location store
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="links-section">
                    <h4>Policies and info</h4>
                    <ul class="links">
                        <li>
                            <a href=""> Terms Conditions </a>
                        </li>
                        <li>
                            <a href=""> Policy for Sellers </a>
                        </li>
                        <li>
                            <a href=""> Policy for Buyers </a>
                        </li>
                        <li>
                            <a href=""> Shipping & Refund </a>
                        </li>
                        <li>
                            <a href=""> Wholesale Policy </a>
                        </li>
                    </ul>
                </div>
                <div class="links-section">
                    <h4>Quick Links</h4>
                    <ul class="links">
                        <li>
                            <a href=""> Seller Login </a>
                        </li>
                        <li>
                            <a href=""> Seller Sign up </a>
                        </li>
                        <li>
                            <a href=""> Seller Handbook </a>
                        </li>
                        <li>
                            <a href=""> Seller Control </a>
                        </li>
                        <li>
                            <a href=""> Panel Seller FAQs </a>
                        </li>
                    </ul>
                </div>
                <div class="links-section">
                    <h4>My account</h4>
                    <ul class="links">
                        <li>
                            <a href=""> Accessories </a>
                        </li>
                        <li>
                            <a href=""> Balcony Tbl </a>
                        </li>
                        <li>
                            <a href=""> Bar Units </a>
                        </li>
                        <li>
                            <a href=""> Beds </a>
                        </li>
                        <li>
                            <a href=""> Bedside Tables </a>
                        </li>
                    </ul>
                </div>
                <div class="subscribe-section">
                    <h4>Subscribe Now</h4>
                    <p>Contrary to popular belief of our web shop</p>
                    <form class="subscribe-form">
                        <input type="email" placeholder="Your E-mail address..." aria-label="subscribe" />
                        <button><i class="fas fa-paper-plane"></i></button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <p class="copyright">Copyright &copy; 2020</p>
</footer>

<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/popper.min.js"></script>
<script src="/js/fontawesome.min.js"></script>
<script src="/js/script.js"></script>
</body>
</html>
