<%- include('../layout/header'); %>

<div class="">
    <%- include('../layout/head-page'); %>
    <div class="row">
        <%- include('./product-specifications'); %>
        <div class="col-md-6 col-sm-12 ">
        </div>
    </div>
</div>

<%- include('../layout/footer'); %>
