<div class="clearfix"></div>
<br />

<div class="ln_solid"></div>

<div class="item form-group">
    <div class="col-md-6 col-sm-6 offset-md-3">
        <button class="btn btn-primary" type="reset">پاک کردن فرم</button>
        <button type="submit" class="btn btn-success">ثبت</button>
    </div>
</div>
